@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this CSS to your stylesheet */
body {
    margin: 0;
    padding: 0;
  }
  
  #home {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px); /* Subtract the navbar height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    padding-top: 60px; /* Same as the height of the navbar */
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px; /* Adjust based on your navbar height */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    z-index: 1000;
  }
  
  @media (max-width: 768px) {
    #home {
      height: calc(100vh - 60px); /* Ensure this rule applies to smaller screens too */
      background-size: contain; /* Adjust the background size for smaller screens */
    }
  }
  